<%- include('partials/header') %>

<h2>Partner Organizations</h2>

<ul>
  <li>BrightFuture Builders</li>
  <li>GreenHarvest Growers</li>
  <li>UnityServe Volunteers</li>
</ul>

<%- include('partials/footer') %>